fieldset{
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lable{
    width: 100px;
}
.lables{
    width: 80px;
}
.field{
    display: flex;
    margin: 5px;

}
#check,#reset{
    height: 20px;
}
.error{
    background: red;
    color: white;
    position: absolute;
    top: 70px;
    left: 175px;
    transform: translate(-50%,-50%);
    padding: 7px;
    display: none;
}
table{
    border: solid 3px;
    border-spacing: 0;

}
td{
    border: solid 1px;
    padding: 5px;
}
tr{

}