fieldset {
    height: 120px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lable {
    width: 100px;
}

.lables {
    width: 80px;
}

.field {
    display: flex;
    margin: 5px;

}

#check, #reset {
    height: 20px;
}

.error {
    background: red;
    color: white;
    position: absolute;
    top: 70px;
    left: 175px;
    transform: translate(-50%, -50%);
    padding: 7px;
    display: none;
}

table {
    border: solid 3px;
    border-spacing: 0;

}

td {
    border: solid 1px;
    padding: 5px;
}


.cell {
    display: flex;
    width: 40px;
    height: 40px;
    border: solid 1px rgba(186, 191, 201, 0.74);
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.container{
    margin: 0;
    padding: 0;
    height: 375px;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(auto-fill,2px);
    grid-template-rows: repeat(auto-fill,2px);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: stretch;
    align-items: stretch;
    border: solid 3px;
    border-left: solid 2px;
}

.separatingColLine{
    border-right: solid 3px;
    width: 38px;
}

.separatingRowLine{
    border-bottom: solid 3px;
    height: 38px;
}
.selectCell{
    background: lightgrey;

}